/* ======= GLOBAL STYLES ======= */
body {
  margin-top: 70px;
  font-family: "Segoe UI", Roboto, sans-serif;
  /* background: linear-gradient(135deg, #0078d4, #00b4d8); */
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.container {
  background: #fff;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width: 400px;
  text-align: center;
}

h2 {
  color: #0078d4;
  margin-bottom: 20px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #0078d4;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005ea6;
}

a {
  color: #0078d4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
